data/LightRewriteDefinitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:element name="redxml">
    <xs:annotation>
      <xs:documentation>Root element for REDengine XML resources (Witcher 3 mod XML).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="custom">
          <xs:annotation>
            <xs:documentation>Custom mod XML section; contains LightRewrite configuration.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="light_rewrite"
                          type="lightRewriteType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="lightRewriteType">
    <xs:annotation>
      <xs:documentation>LightRewrite configuration section.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="overrides"
                  type="overridesType"
                  minOccurs="0"
                  maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="overridesType">
    <xs:annotation>
      <xs:documentation>Per-area overrides for light source defaults.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="matches"
                  type="sharedMatchesType"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Match filters shared by every override in this group, ANDed into each override's own filters. When present, must be the first child, before any override.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="override"
                  type="overrideEntryType"
                  maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Override for a single light source group in this area.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="profile_name"
                  type="xs:string"
                  use="required">
      <xs:annotation>
        <xs:documentation>The profile that these overrides are part of. Users can change the active profile from the in-game mod menu. A profile can be split across multiple files.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="weight"
                  type="xs:unsignedByte"
                  use="required">
      <xs:annotation>
        <xs:documentation>Weight is effectively the order in which overrides are applied; 0 will be applied first, so any values from groups with higher weight will overwrite them.</xs:documentation>
        <xs:documentation>Groups with the same weight are applied in the order they are defined; however, between files this may be non-deterministic.</xs:documentation>
        <xs:documentation>Effectively, 0 is typically for global defaults, and 100 would be for a very specific small area.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="sharedMatchesType">
    <xs:annotation>
      <xs:documentation>A group of match filters shared by every override in the overrides group. Holds the same match and any blocks an override can, and they are ANDed into each override's own filters.</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0"
               maxOccurs="unbounded">
      <xs:element name="match"
                  type="matchType">
        <xs:annotation>
          <xs:documentation>A filter ANDed into every override in this group. Same attributes and behaviour as a top-level override match.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="any"
                  type="anyMatchType">
        <xs:annotation>
          <xs:documentation>An any-match group ANDed into every override in this group. Same behaviour as a top-level override any group.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="overrideEntryType">
    <xs:choice minOccurs="0"
               maxOccurs="unbounded">
      <xs:element name="match"
                  type="matchType">
        <xs:annotation>
          <xs:documentation>Filter that controls which light sources this entry applies to.</xs:documentation>
          <xs:documentation>By default, matches the start of the entity file name (e.g. candle_small.w2ent).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="any"
                  type="anyMatchType">
        <xs:annotation>
          <xs:documentation>A group of match filters where any one matching is enough (logical OR).</xs:documentation>
          <xs:documentation>The group as a whole is ANDed with the entry's other match filters and groups, so the override applies when every top-level match and every group is satisfied.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="shadows"
                  type="shadowsType">
        <xs:annotation>
          <xs:documentation>Shadow fade parameters - distance, range, and blend factor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="colour"
                  type="overrideColourType">
        <xs:annotation>
          <xs:documentation>If present, overrides the light source colour.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="offset"
                  type="vectorType">
        <xs:annotation>
          <xs:documentation>When present, moves each point light component to this local-space offset from the entity origin (0, 0, 0).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fire_fx_offset"
                  type="vectorType">
        <xs:annotation>
          <xs:documentation>For complex candles, this will align individual point lights to the flame FX.</xs:documentation>
          <xs:documentation>Use `offset` to move normal point lights to an offset from the entity itself.</xs:documentation>
          <xs:documentation>If using `LRT_Candle` rewriter this will often function like `offset`, however it may cause unexpected behaviour (e.g. if the entity has "fire" fx slots).</xs:documentation>
          <xs:documentation>N.B. *Many* point lights have been moved manually by the game designers, as when the game was released, point lighting was often used for much smaller, hand-crafted effects.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="spotlight"
                  type="spotlightOverrideType">
        <xs:annotation>
          <xs:documentation>Optional spotlight override for this light source group. When present, customises the spotlight independently of the point lights.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
    <xs:attribute name="tag_name"
                  type="lightTagType"
                  use="required">
      <xs:annotation>
        <xs:documentation>The tag that will identify this source in the game.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="label"
                  type="xs:string"
                  use="required">
      <xs:annotation>
        <xs:documentation>The name of this light source type, for logging purposes.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="enabled"
                  type="xs:boolean"
                  use="optional">
      <xs:annotation>
        <xs:documentation>Whether this light source type should be rewritten. Default: `true`</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="rewriter_type"
                  type="rewriterTypeEnum"
                  use="optional">
      <xs:annotation>
        <xs:documentation>The type of light rewriter for this group. Default: `LRT_None` (generic light rewriter)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="brightness"
                  type="xs:decimal"
                  use="optional">
      <xs:annotation>
        <xs:documentation>Override the light source brightness.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="radius"
                  type="xs:decimal"
                  use="optional">
      <xs:annotation>
        <xs:documentation>Set the cutoff radius (sphere).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="attenuation"
                  type="xs:decimal"
                  use="optional">
      <xs:annotation>
        <xs:documentation>Light attenuation - how quickly the light fades out with distance.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="use_spotlight_colour"
                  type="xs:boolean"
                  use="optional">
      <xs:annotation>
        <xs:documentation>Whether to copy the spotlight colour to point lights. By default, many candles use low-radius, very red point lights for a close-up glow offset from the bluish scene lighting, and a spotlight for normal mid-range lighting.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="force_single_light"
                  type="xs:boolean"
                  use="optional">
      <xs:annotation>
        <xs:documentation>When true, a matched fixture keeps only its most central point light; the others are disabled rather than rewritten. Applies to the `LRT_Candle` rewriter. Default: `false`</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="force_cast_shadows"
                  type="xs:boolean"
                  use="optional">
      <xs:annotation>
        <xs:documentation>When true, enables shadow casting on all drawable (mesh) components of the entity. Useful for light sources that were optimised to not cast shadows (e.g. noshadow chandeliers) but look uncanny under ray-traced lighting.</xs:documentation>
        <xs:documentation>WARNING: When disabled (swapping profile, toggle mod in-game), this will disable shadow casting on all drawable child components, even if they were originally set to cast shadows. No API exists to check the original state, so the mod assumes you enabled this because they were disabled.</xs:documentation>
        <xs:documentation>Extremely specific match rules are recommended.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="matchType">
    <xs:annotation>
      <xs:documentation>A filter string matched against light source entity names or layer paths.</xs:documentation>
      <xs:documentation>By default, matches the start of the entity file name (e.g. candle_small.w2ent).</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nonEmptyString">
        <xs:attribute name="type"
                      type="matchTypeEnum"
                      use="optional"
                      default="entity">
          <xs:annotation>
            <xs:documentation>What this rule will match against: entity name, or layer path. Default: `entity`</xs:documentation>
            <xs:documentation>The layer path is the full\path\to\the\layer.w2l, whilst the entity is the base file name, without the path (e.g. candle_small.w2ent).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="mode"
                      type="matchModeEnum"
                      use="optional"
                      default="startsWith">
          <xs:annotation>
            <xs:documentation>How to compare the value: startsWith (default), endsWith, contains, or exact.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="anyMatchType">
    <xs:annotation>
      <xs:documentation>A disjunction of match filters; satisfied when at least one child match succeeds.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="match"
                  type="matchType"
                  maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>One alternative in the group. Has the same attributes and behaviour as a top-level match.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="nonEmptyString">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="matchTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="entity">
        <xs:annotation>
          <xs:documentation>Match against the base file name of the entity, e.g. candle_small.w2ent</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="layer">
        <xs:annotation>
          <xs:documentation>Match against the layer path of an entity, e.g. levels\prolog_village\some\layer.w2l</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="matchModeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="startsWith" />
      <xs:enumeration value="endsWith" />
      <xs:enumeration value="contains" />
      <xs:enumeration value="exact" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="lightTagType">
    <xs:restriction base="xs:string">
      <xs:pattern value="LR_.*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="rewriterTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LRT_Candle" />
      <xs:enumeration value="LRT_Spotlight" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="lightShadowCastingModeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Normal" />
      <xs:enumeration value="OnlyDynamic" />
      <xs:enumeration value="OnlyStatic" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="shadowsType">
    <xs:attribute name="casting_mode"
                  type="lightShadowCastingModeEnum"
                  use="optional">
      <xs:annotation>
        <xs:documentation>Override the shadow casting mode on the light component itself.</xs:documentation>
        <xs:documentation>Matches ELightShadowCastingMode: `LSCM_None`, `LSCM_Normal`, `LSCM_OnlyDynamic`, `LSCM_OnlyStatic`.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fade_distance"
                  type="xs:decimal"
                  use="optional">
      <xs:annotation>
        <xs:documentation>The distance the player is from a light source before the shadow starts to fade.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fade_range"
                  type="xs:decimal"
                  use="optional">
      <xs:annotation>
        <xs:documentation>The distance from when a shadow starts fading until it is completely gone.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="blend_factor"
                  type="xs:decimal"
                  use="optional">
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="overrideColourType">
    <xs:attribute name="r"
                  type="xs:unsignedByte"
                  use="required">
    </xs:attribute>
    <xs:attribute name="g"
                  type="xs:unsignedByte"
                  use="required">
    </xs:attribute>
    <xs:attribute name="b"
                  type="xs:unsignedByte"
                  use="required">
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="vectorType">
    <xs:attribute name="x"
                  type="xs:decimal"
                  use="required">
    </xs:attribute>
    <xs:attribute name="y"
                  type="xs:decimal"
                  use="required">
    </xs:attribute>
    <xs:attribute name="z"
                  type="xs:decimal"
                  use="required">
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="spotlightOverrideType">
    <xs:annotation>
      <xs:documentation>Spotlight-specific overrides for a light source group. Brightness, radius, attenuation, shadows, and colour have the same meaning and constraints as on the parent override. Tag name and label are inherited from the parent override in code.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="shadows"
                  type="shadowsType"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Shadow fade parameters for the spotlight.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="colour"
                  type="overrideColourType"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>If present, overrides the spotlight colour.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="offset"
                  type="vectorType"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>When present, moves each spotlight component to this local-space offset from the entity origin (0, 0, 0).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="enabled"
                  type="xs:boolean"
                  use="optional">
      <xs:annotation>
        <xs:documentation>When false, disables the spotlight in game. Default: `true`</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="spawn"
                  type="xs:boolean"
                  use="optional">
      <xs:annotation>
        <xs:documentation>When true, a new spotlight entity is spawned at the matched entity instead of editing an existing spotlight component. Default: `false`</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="brightness"
                  type="xs:decimal"
                  use="optional">
      <xs:annotation>
        <xs:documentation>How bright the spotlight is.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="radius"
                  type="xs:decimal"
                  use="optional">
      <xs:annotation>
        <xs:documentation>How far the light can reach (without raytracing).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="attenuation"
                  type="xs:decimal"
                  use="optional">
      <xs:annotation>
        <xs:documentation>Spotlight attenuation - how quickly the light fades out with distance.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="innerAngle"
                  type="xs:decimal"
                  use="optional">
      <xs:annotation>
        <xs:documentation>Angle in degrees from the spotlight centre axis to the edge of the fully-lit cone. Light is at full intensity within this cone.</xs:documentation>
        <xs:documentation>Convention is to have innerAngle less than outerAngle (otherwise the light cone is flipped, which may be confusing for others).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="outerAngle"
                  type="xs:decimal"
                  use="optional">
      <xs:annotation>
        <xs:documentation>Angle in degrees from the spotlight centre axis to the outer edge of the falloff cone. Light fades from full to zero between innerAngle and outerAngle.</xs:documentation>
        <xs:documentation>Convention is to have innerAngle less than outerAngle (otherwise the light cone is flipped, which may be confusing for others).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="softness"
                  type="xs:decimal"
                  use="optional">
      <xs:annotation>
        <xs:documentation>The softness of the falloff of the light between innerAngle and outerAngle.</xs:documentation>
        <xs:documentation>Range 0-255 (0-2 in practice); 0 is an unrealistic sharp edge, 2 is smooth. Higher values are barely perceptible in-game.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

</xs:schema>